<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('./partials/header-links.ejs'); -%>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>
      <span><a href="/login" class="btn">SignIn</a></span>
      <span><a href="/register" class="btn">SignUp</a></span>
    </p>
  </body>
</html>
