<!DOCTYPE html>
<html>
	<head>
		<title>Roothub - Signup</title>
		<%- include('./partials/style-links.ejs'); -%>
	</head>
	<body>
		<h3>For admins only</h3>
		<form method="POST" action="/user">
			<div class="form-group">
				<label for="nameInput">Name</label>
				<input type="text" class="form-control" id="nameInput" placeholder="Enter your name" name="name" required />
			</div>
			<div class="form-group">
				<label for="emailInput">Email address</label>
				<input type="email" class="form-control" id="emailInput" placeholder="Enter email" name="email" required />
			</div>
			<div class="form-group">
				<label for="telInput">Phone Number</label>
				<input type="tel" class="form-control" id="telInput" placeholder="Enter Your phone number" name="phone" required />
			</div>
			<div class="form-group">
				<label for="emailInput">Gender</label>
				<select type="text" class="form-control" id="userTypeInput" name="type">
					<option value="F">Female</option>
					<option value="M" selected>Male</option>
				</select>
			</div>
			<div class="form-group">
				<label for="userTypeInput">User class</label>
				<select type="text" class="form-control" id="userTypeInput" name="type" required>
					<option value="admin">Admin</option>
					<option value="visitor" selected>Visitor</option>
					<option value="student">Student</option>
					<option value="staff">Staff</option>
				</select>
			</div>

			<div class="form-group">
				<label for="passwordInput">Password</label>
				<input type="password" class="form-control" id="passwordInput" placeholder="Enter password" name="password" required />
			</div>
			<div>
				<input type="submit" class="btn btn-primary">
			</div>
		</form>
		<p>
			<span><a href="/login " class="btn btn-link">Sign-in if are an Admin</a></span>
		</p>
	</body>
</html>